[flake8]
ignore = E128,E121,W504,F401,W503,E231
max-line-length = 160
per-file-ignores =
    tests/__init__.py:E501
    tests/test_api_v1.py:E501
    tests/test_pg.py:E231,E501
    libs/acoustid_ext/src/acoustid_ext/*.pyi:E704,E302
