/.vagrant
/.mypy_cache
/e
/venv*
/.venv
/.idea
/build
/acoustid.conf
/acoustid-test.conf
/.tox
*.pyc
*.swp
*.so
*.o
/.envrc
.noseids
/requirements_dev_py2.in
/requirements_dev_py3.in
*.egg-info
/libs/acoustid_ext/build/
/libs/acoustid_ext/src/acoustid_ext/fingerprint.c
.aider*
