[database]
user=acoustid
password=XXX
superuser=postgres
name=acoustid
host=localhost
port=5432

[cluster]
role=master
base_master_url=https://api.acoustid.org/
secret=XXX

[index]
host=127.0.0.1
port=6080

[redis]
host=127.0.0.1
port=6379

[logging]
level=WARN
#level.sqlalchemy=INFO
#syslog=no
#syslog_facility=local1

[website]
base_url=http://acoustid.org/
base_https_url=https://acoustid.org/
secret=XXX

[replication]
import_acoustid=http://data.acoustid.org/replication/acoustid-update-{seq}.xml.bz2
