[database]
user=acoustid
password=XXX
superuser=postgres
name=acoustid
host=localhost
port=5432

[index]
host=127.0.0.1
port=6080

[logging]
level=WARN
#level.sqlalchemy=INFO
#syslog=no
#syslog_facility=local1

[website]
base_url=http://acoustid.org/
base_https_url=https://acoustid.org/
secret=XXX
