[database]
two_phase_commit=false

[database:app]
name=acoustid_app
user=acoustid
password=acoustid
host=127.0.0.1
port=5432

[database:fingerprint]
name=acoustid_ingest
user=acoustid
password=acoustid
host=127.0.0.1
port=5432

[database:ingest]
name=acoustid_ingest
user=acoustid
password=acoustid
host=127.0.0.1
port=5432

[database:musicbrainz]
name=musicbrainz
user=acoustid
password=acoustid
host=127.0.0.1
port=5432

[cluster]
role=master
base_master_url=https://api.acoustid.org/
secret=XXX

[index]
host=127.0.0.1
port=6080

[redis]
host=127.0.0.1
port=6379

[logging]
level=WARNING
#level.sqlalchemy=INFO
#syslog=no
#syslog_facility=local1

[website]
base_url=http://acoustid.org/
base_https_url=https://acoustid.org/
secret=XXX
mb_oauth_client_id=XXX
mb_oauth_client_secret=XXX

[uwsgi]
workers=2
harakiri=120
http_timeout=90
http_connect_timeout=10
post_buffering=0
buffer_size=10240
offload_threads=1

[replication]
import_acoustid=http://data.acoustid.org/replication/acoustid-update-{seq}.xml.bz2

[rate_limiter]
#application.123=4
