-c requirements.txt
flake8
pytest
isort
black
functools32 ; python_version < "3.2"
mypy ; python_version >= "3"
sqlalchemy-stubs >= 0.4 ; python_version >= "3"
types-requests ; python_version >= "3"
types-click ; python_version >= "3"
types-six ; python_version >= "3"
types-pytz ; python_version >= "3"
types-redis ; python_version >= "3"
grpcio-tools
