SQLAlchemy>=0.9
psycopg2
Werkzeug
Jinja2
python-openid; python_version < "3"
python3-openid; python_version >= "3"
Markdown
redis
flask
rauth
blinker
requests
pyopenssl
ndg-httpsclient
pyasn1
mbdata==25.0.0
alembic>=0.8.4
uwsgi
schedule
sentry-sdk[flask]
typing
six
subprocess32; python_version < "3.2"
click
ipython
attrs
gunicorn
futures
pytz
statsd
gevent
psycogreen
