html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'DejaVu Sans', 'Verdana', sans;
  margin-bottom: 80px;
}

.menu {
  font-size: 130%;
  line-height: 1.7;
	text-align: center;
}

.menu h1 {
  margin-bottom: 30px;
}

.content {
  margin-bottom: 1em;
}

.content p,
.content td,
.content th,
.content li {
  line-height: 1.7;
}

.login-block {
    display: inline-block;
    width: 100px;
    height: 60px;
    border: solid 2px #eee;
}

.login-block:hover,
.login-block.active {
    border-color: #8e99aa;
}

.login-block span {
    display: none;
}

.login-google {
    background: url(/static/login/google.png) 50% 50% no-repeat;
}

.login-yahoo {
    background: url(/static/login/yahoo.png) 50% 50% no-repeat;
}

.login-musicbrainz {
    background: url(/static/login/musicbrainz.png) 50% 50% no-repeat;
}

.login-openid {
    background: url(/static/login/openid.png) 50% 50% no-repeat;
}

.chart {
  height: 250px;
}

.indented {
  padding-left: 2em !important;
}

.narrow {
  width: 10em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-size: 90%;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin: 10px 0;
}

.footer p:first-child {
  margin-top: 15px;
}

.footer p:last-child {
  margin-bottom: 15px;
}
