{% extends "_base.html" %}
{% block content %}
<h2>{{ title }}</h2>

<p><canvas style="border: solid 2px #C5C5C5;" id="fp-img" width="32" height="0"></canvas></p>

<p>Compare with another fingerprint <input id="fp_id" size="6" placeholder="ID"/> <button id="compare">Compare</button></p>

<p>Back to <a href="{{ url_for('.track', track_id=track_gid) }}">track "{{ track_gid }}"</a></p>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename='fputils.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
   var fp = {{ fingerprint.fingerprint }};
   var canvas = document.getElementById('fp-img');
   paintFingerprint(canvas, fp);

   $('#compare').click(function () {
       var id2 = $('#fp_id').val();
       var url = '/fingerprint/{{ fingerprint.id }}/compare/' + id2;
       window.location.href = url;
   });
});
</script>
{% endblock %}
