{% extends "_base.html" %}
{% block content %}

<h2>Sign in</h2> 

{% if errors %}
<p class="errors">{% for error in errors %}{{ error }}<br />{% endfor %}</p>
{% endif %}

<p>Please sign in with an account from one of these providers:</p>

<form action="{{ url_for('.login') }}" method="POST"  class="form-inline"> 

<p>
    <a class="login-block login-musicbrainz" href="#"><span>Log in with MusicBrainz</span></a>
    <a class="login-block login-google" href="#"><span>Log in with Google</span></a>
    <a class="login-block login-yahoo" href="#"><span>Log in with Yahoo!</span></a>
    <a class="login-block login-openid" href="#"><span>Log in with OpenID</span></a>
</p>

<p class="openid-form" style="display:none">
    <input name="openid_identifier" type="text" class="openid form-control" />
    <input type="submit" value="Sign in" class="btn btn-default" />
</p>

<input type="hidden" name="return_url" value="{{ return_url }}" /> 
<input type="hidden" name="login" value="openid" /> 

</form> 

{% endblock %}

{% block extra_js %}

<script type="text/javascript"> 
$(document).ready(function () {
    $('.login-musicbrainz').click(function () {
        var $form = $(this).closest('form');
        $form.find('input[name=login]').val('musicbrainz');
        $form.submit();
        return false;
    });
    $('.login-google').click(function () {
        var $form = $(this).closest('form');
        $form.find('input[name=login]').val('google');
        $form.submit();
        return false;
    });
    $('.login-yahoo').click(function () {
        var $form = $(this).closest('form');
        $form.find('input[name=login]').val('openid');
        $form.find('input.openid').val('https://me.yahoo.com');
        $form.submit();
        return false;
    });
    $('.login-openid').click(function () {
        var $this = $(this), $form = $this.closest('form');
        $this.addClass('active');
        $form.find('input[name=login]').val('openid');
        $form.find('.openid-form').show();
        $form.find('.openid-form input.openid').focus();
        return false;
    });
});
</script> 

{% endblock %}
