{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2> 

{% if errors %}
<p class="errors">{% for error in errors %}{{ error }}<br />{% endfor %}</p>
{% endif %}

<form action="{{ url_for('.new_application') }}" method="POST">
  <div class="form-group">
    <label for="name_i">Application name</label>
    <input name="name" id="name_i" type="text" class="form-control" value="{{ form.name }}" />
  </div>
  <div class="form-group">
    <label for="version_i">Version number</label>
    <input name="version" id="version_i" type="text" class="form-control" value="{{ form.version }}" />
  </div>
  <div class="form-group">
    <label for="email_i">Contact email (optional)</label>
    <input name="email" id="email_i" type="text" class="form-control" value="{{ form.email }}" />
  </div>
  <div class="form-group">
    <label for="website_i">Website (optional)</label>
    <input name="website" id="website_i" type="website" class="form-control" value="{{ form.website }}" />
  </div>
	<button type="submit" class="btn btn-default">Register</button>
	<input type="hidden" name="submit" value="1" />
</form>

{% endblock %}

