{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<h3>Basic statistics</h3>

<table class="table">
    <tr>
        <td>AcoustIDs</td>
        <td class="text-right">{{ basic.tracks }}</td>
    </tr>
    <tr>
        <td>Fingerprints</td>
        <td class="text-right">{{ basic.fingerprints }}</td>
    </tr>
    <tr>
        <td>Recordings</td>
        <td class="text-right">{{ basic.mbids }}</td>
    </tr>
    <tr>
        <td>Contributors</td>
        <td class="text-right">{{ basic.contributors }}</td>
    </tr>
</table>

<h3>Daily additions</h3>

<div id="chart1" class="chart"></div>

<h3>Searches</h3>

<div id="chart2" class="chart"></div>

<h3>AcoustIDs per the number of linked recordings</h3>

<table class="table">
    <tr>
        <td>AcoustIDs with at least 1 recording</td>
        <td class="text-right">{{ basic.tracks_with_mbid }}</td>
        <td class="text-right">{{ basic.tracks_with_mbid_percent }} %</td>
    </tr>
    {% for t in track_mbid %}
    <tr>
        <td class="indented">with {% if t.i == 1 %}1 recording{% elif t.i == 10 %}10 or more recordings{% else %}{{ t.i }} recordings{% endif %}</td>
        <td class="narrow text-right">{{ t.count }}</td>
        <td class="narrow text-right">{{ t.percent }} %</td>
    </tr>
    {% endfor %}
</table>

<h3>Recordings per the number of linked AcoustIDs</h3>

<table class="table">
    <tr>
        <td>Recording with at least 1 AcoustID</td>
        <td class="text-right">{{ basic.mbids }}</td>
        <td class="text-right">100.00 %</td>
    </tr>
    {% for t in mbid_track %}
    <tr>
        <td class="indented">with {% if t.i == 1 %}1 AcoustID{% elif t.i == 10 %}10 or more AcoustIDs{% else %}{{ t.i }} AcoustIDs{% endif %}</td>
        <td class="narrow text-right">{{ t.count }}</td>
        <td class="narrow text-right">{{ t.percent }} %</td>
    </tr>
    {% endfor %}
</table>

{% macro data_series(name, data, field, visible=True)  %}
{
    name: '{{ name }}',
	data: [
		{% for i in data -%}
			[Date.UTC({{ i.date.year }}, {{ i.date.month - 1 }}, {{ i.date.day }}), {{ i[field] }}]{% if not loop.last %},{% endif %}
		{%- endfor %}
	],
	visible: {{ 'true' if visible else 'false' }}
}
{% endmacro %}

<script type="text/javascript">
var chart1_series = [
    {{ data_series('AcoustIDs', daily.tracks, 'value') }},
    {{ data_series('MBIDs', daily.mbids, 'value') }}
]; 
var chart2_series = [
    {{ data_series('All', lookups, 'count') }},
    {{ data_series('Hits', lookups, 'count_hits') }},
    {{ data_series('Misses', lookups, 'count_nohits') }}
];
</script>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='highcharts.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='stats.js') }}" type="text/javascript"></script>
{% endblock %}
