{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<p>
    This track has {{ fingerprints | length }} fingerprint(s) and is linked
    to {{ recordings | length }} MusicBrainz recording(s).
</p>

{% macro format_length(secs) -%}
{{ "%d:%02d" | format(secs / 60, secs % 60) }}
{%- endmacro %}

<h3>Fingerprints</h3>

<table class="table">
<tr>
    <th>ID</th>
    <th style="width:5em;">Length</th>
    <th style="width:5em;">Sources</th>
</tr>
{% for fp in fingerprints %}
<tr>
    <td><a href="{{ url_for('.fingerprint', fingerprint_id=fp.id) }}">{{ fp.id }}</a></td>
    <td>{{ format_length(fp.length) }}</td>
    <td>{{ fp.submission_count }}</td>
{% endfor %}
</tr>
</table>

{% if recordings %}
<h3>Linked MusicBrainz recordings</h3>

<table class="table">
<tr>
    <th>Title</th>
    <th>Artist</th>
    <th style="width:5em;">Length</th>
    <th style="width:5em;">Sources</th>
    {% if moderator %}
    <th></th>
    {% endif %}
</tr>
{% for rec in recordings %}
<tr{% if rec.disabled %} class="mbid-disabled"{% endif %} id="{{ rec.mbid }}">
    {% if rec.name %}
    <td><a href="//musicbrainz.org/recording/{{ rec.mbid }}">{{ rec.name }}</a>{% if rec.comment %}<small> ({{ rec.comment }})</small>{% endif %}</td>
    <td>{{ rec.artist_name }}</td>
    <td>{% if rec.length %}{{ format_length(rec.length) }}{% else %}-{% endif %}</td>
    {% else %}
    <td colspan="3"><i><a href="//musicbrainz.org/recording/{{ rec.mbid }}">{{ rec.mbid }}</a></i></td>
    {% endif %}
    <td>{{ rec.submission_count }}</td>
    {% if moderator %}
    <td class="text-right">
      <form action="/edit/toggle-track-mbid" method="POST" style="display: inline">
          <input type="hidden" name="state" value="{{0 if rec.disabled else 1}}" />
          <input type="hidden" name="track_id" value="{{track.id}}" />
          <input type="hidden" name="mbid" value="{{rec.mbid}}" />
          <input type="submit" class="btn btn-xs btn-default" value="{{'Enable' if rec.disabled else 'Disable'}}" />
      </form>
    </td>
    {% endif %}
{% endfor %}
</tr>
</table>
{% endif %}

{% if user_metadata %}
<h3>Additional user-submitted metadata</h3>

<table class="table">
<tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
</tr>
{% for track_meta in user_metadata %}
<tr>
    <td>{{ track_meta.meta.track | default("-", true) }}</td>
    <td>{{ track_meta.meta.artist | default("-", true) }}</td>
    <td>{{ track_meta.meta.album | default("-", true) }}</td>
{% endfor %}
</tr>
</table>
{% endif %}

{% if moderator and edits %}
<h3>Editing history</h3>

<ul class="list-unstyled">
{% for edit in edits %}
    <li>
        <small><i>{{ edit.created.strftime("%b, %d %Y %H:%M:%S") }}</i></small><br />
        User
        {% if edit.account.mbuser %}
        <a href="https://musicbrainz.org/user/{{ edit.account.mbuser }}">{{ edit.account.name }}</a>
        {% else %}
        {{ edit.account.name }}
        {% endif %}
        {{ 'disabled' if edit.disabled else 'enabled' }}
        <a href="#{{ edit.track_mbid.mbid }}">{{ edit.track_mbid.mbid }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}

