{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<p><b>Basic statistics</b></p>

<table class="listing">
    <tr>
        <td>Submissions</td>
        <td class="r">{{ basic.submissions }}</td>
    </tr>
    <tr>
        <td>Fingerprints</td>
        <td class="r">{{ basic.fingerprints }}</td>
    </tr>
    <tr>
        <td>Tracks</td>
        <td class="r">{{ basic.tracks }}</td>
    </tr>
    <tr>
        <td>MBIDs</td>
        <td class="r">{{ basic.mbids }}</td>
    </tr>
    <tr>
        <td>PUIDs</td>
        <td class="r">{{ basic.puids }}</td>
    </tr>
    <tr>
        <td>Contributors</td>
        <td class="r">{{ basic.contributors }}</td>
    </tr>
</table>

<p><b>Daily additions</b></p>

<div id="graph-fp"></div>

<p><b>Searches</b></p>

<div id="lookups-graph-fp"></div>

<p><b>MusicBrainz database coverage compared to PUIDs</b></p>

<table class="listing">
    <tr>
        <td>MBIDs identifiable by both PUIDs and Acoustid</td>
        <td class="r">{{ basic.mbids_both }}</td>
    </tr>
    <tr>
        <td>MBIDs identifiable only by PUIDs</td>
        <td class="r">{{ basic.mbids_onlypuid }}</td>
    </tr>
    <tr>
        <td>MBIDs identifiable only by Acoustid</td>
        <td class="r">{{ basic.mbids_onlyacoustid }}</td>
    </tr>
</table>

<p><b>Tracks per the number of linked MBIDs</b></p>

<table class="listing">
    <tr>
        <td>Tracks with at least 1 MBID</td>
        <td class="r">{{ basic.tracks_with_mbid }}</td>
        <td class="r">{{ basic.tracks_with_mbid_percent }} %</td>
    </tr>
    {% for t in track_mbid %}
    <tr>
        <td>Tracks with {% if t.i == 1 %}1 MBID{% elif t.i == 10 %}10 or more MBIDs{% else %}{{ t.i }} MBIDs{% endif %}</td>
        <td class="r">{{ t.count }}</td>
        <td class="r">{{ t.percent }} %</td>
    </tr>
    {% endfor %}
</table>

<p><b>MBIDs per the number of linked tracks</b></p>

<table class="listing">
    <tr>
        <td>MBIDs with at least 1 track</td>
        <td class="r">{{ basic.mbids }}</td>
        <td class="r">100.00 %</td>
    </tr>
    {% for t in mbid_track %}
    <tr>
        <td>MBIDs with {% if t.i == 1 %}1 track{% elif t.i == 10 %}10 or more tracks{% else %}{{ t.i }} tracks{% endif %}</td>
        <td class="r">{{ t.count }}</td>
        <td class="r">{{ t.percent }} %</td>
    </tr>
    {% endfor %}
</table>

<p><b>Top contributors in the last two weeks</b></p>

{% if top_contributors %}
<table class="listing">
    {% for t in top_contributors %}
    <tr>
        <td class="index">{{ loop.index }}.</td>
        <td>{% if t.mbuser %}<a href="http://musicbrainz.org/show/user/?username={{ t.mbuser }}">{% endif %}{{ t.name }}{% if t.mbuser %}</a>{% endif %}</td>
        <td class="r">{{ t.count }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Nobody has submitted any new fingerprints in the last 14 days. :-(</p>
{% endif %}

<p><a href="{{ base_url }}contributors">See all contributors</a></p>

{% macro data_series(name, data, visible=True)  %}
{
    name: '{{ name }}',
	data: [
		{% for i in data -%}
			[Date.UTC({{ i.date.year }}, {{ i.date.month - 1 }}, {{ i.date.day }}), {{ i.value }}]{% if not loop.last %},{% endif %}
		{%- endfor %}
	],
	visible: {{ 'true' if visible else 'false' }}
}
{% endmacro %}

{% macro lookup_data_series(name, data, field, visible=True)  %}
{
    name: '{{ name }}',
	data: [
		{% for i in data -%}
			[Date.UTC({{ i.date.year }}, {{ i.date.month - 1 }}, {{ i.date.day }}), {{ i[field] }}]{% if not loop.last %},{% endif %}
		{%- endfor %}
	],
	visible: {{ 'true' if visible else 'false' }}
}
{% endmacro %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="/static/highcharts.js" type="text/javascript"></script>
<script type="text/javascript">
var chart1; // globally available
var chart2; // globally available
$(document).ready(function() {
	chart1 = new Highcharts.Chart({
		chart: {
			renderTo: 'graph-fp',
			height: 250,
			zoomType: 'x',
			defaultSeriesType: 'line'
		},
		title: { text: '' },
		xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: {
				month: '%e. %b',
				year: '%b'
			}
		},
		yAxis: {
			title: { text: '' }
		},
		legend: {
			shadow: false
		},
		plotOptions: {
			line: {
				lineWidth: 1
			}
		},
		series: [
			{{ data_series('Submissions', daily.submissions) }},
			{{ data_series('Fingerprints', daily.fingerprints, false) }},
			{{ data_series('Tracks', daily.tracks, false) }},
			{{ data_series('MBIDs', daily.mbids, false) }},
			{{ data_series('PUIDs', daily.puids, false) }}
		]
	});
	chart2 = new Highcharts.Chart({
		chart: {
			renderTo: 'lookups-graph-fp',
			height: 250,
			zoomType: 'x',
			defaultSeriesType: 'line'
		},
		title: { text: '' },
		xAxis: {
			type: 'datetime',
			dateTimeLabelFormats: {
				month: '%e. %b',
				year: '%b'
			}
		},
		yAxis: {
			title: { text: '' }
		},
		legend: {
			shadow: false
		},
		plotOptions: {
			line: {
				lineWidth: 1
			}
		},
		series: [
			{{ lookup_data_series('All', lookups, 'count') }},
			{{ lookup_data_series('Hits', lookups, 'count_hits') }},
			{{ lookup_data_series('Misses', lookups, 'count_nohits') }}
		]
	});
});
</script>

{% endblock %}

