<?php

$cfg_base_url = "http://acoustid.org/";
$cfg_https_base_url = "https://acoustid.org/";

$cfg_db_host = "localhost";
$cfg_db_user = "acoustid";
$cfg_db_password = "acoustid";
$cfg_db_name = "acoustid";

$path = '/home/acoustid/ZendFramework-1.10.8-minimal/library';
set_include_path(get_include_path() . PATH_SEPARATOR . $path);

?>
